
$primary: #72a9c3;
$secondary: #8572c3;

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.df {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.top {
    align-items: flex-start;
}

.bottom {
    align-items: flex-end;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.sb {
    justify-content: space-between;
}

.max_size {
    max-width: 100%;
    max-height: 100%;
}

.max_width {
    width: 100%;
}

.bg-grey {
    background-color: rgba(211, 211, 211, 0.329);
}

.gap24 {
    gap: 1.5em;
}

.paddingX {
    padding: 0 0.5em;
}

.paddingY {
    padding: 0.5em 0;
}